{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="all-post-view" class="principal-box">
        <h1>All Posts</h1>

        <div class="column-box">
            <h4>New Post</h4>
            <textarea id="post-content" placeholder="What's happening?!"></textarea>
            <button id="post-button" class="round-edge-button">Post</button>
        </div>
        
        <div id="latest-posts">
        </div>

        <div id="pagination-div"></div>

</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

